html {
    background-color: lightblue;
    background-repeat: no-repeat;
    background-image: url(https://static.wikia.nocookie.net/liberproeliis/images/7/77/Mestre_das_sombras.png/revision/latest?cb=20181104215254&path-prefix=pt-br)

}

h1 {
    background-color: green;
    color: white;
}
 html {
     background-attachment: fixed;
     background-position: right bottom;
 }